
@model UserManager<AppUser>

@{
    Layout = null;
    ViewBag.Title = "Şifremi Unuttum";
    string msg = ViewBag.Message;
    string msg2 = ViewBag.Message2;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Template/assets/css/loginPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Template/assets/js/main.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="container">
        <div class="bg-image"></div>
        <div class="screen">
            <div class="screen__content">               
                <form class="login" method="post">
                    @if (msg2 != null)
                    {
                        <h6 class="alert-warning p-1">@msg2</h6>
                    }
                    @if (msg != null)
                    {
                        <h6 class="alert-warning p-1">@msg</h6>
                    }
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" name="email" class="login__input" placeholder="E-posta" />

                </div>
                    <button class="button login__submit">
                        <span class="button__text">Şifremi Yenile</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>

</html>